@use '../styles/variables' as *;
@use '../styles/mixins' as *;

#ember{
  background: #1a0a04;
  background-image:
          radial-gradient(ellipse at 50% 70%, #3d1a04 0%, #2a1208 40%, #1a0a04 100%),
          radial-gradient(ellipse at 50% 100%, #8b3a0088 0%, transparent 55%);
  position: fixed;
  width: 100%;
  height: 100%;
}
